<% @title= current_user.name + " - Postagens" %>
<div id="profile-path">
  <div class="container">
    <div class="row my-2">
      <div class="col-lg-8 order-lg-2">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <%= link_to "Perfil",  user_path(@user.id), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Postagens",  details_user_path(@user.id), class: "nav-link active" %>
          </li>
        <% if current_user.id == @user.id %>
          <li class="nav-item">
            <%= link_to "Editar", edit_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
        </ul>
        <div class="tab-content py-4">
          <div class="tab-pane active" id="posts">
            <% if @post.present? %>
              <%= render "shared/card-post" %>
            <% else %>
              <div class="alert alert-danger">
                O usuário <%= @user.name %> não possui nenhuma postagem.
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>