<% @title= current_user.name + " - Perfil" %>
<div id="profile-path">
  <div class="container">
    <div class="row my-2">
      <div class="col-lg-8 order-lg-2">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <%= link_to "Perfil",  user_path(@user.id), class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Postagens",  details_user_path(@user.id), class: "nav-link" %>
          </li>
        <% if current_user.id == @user.id %>
          <li class="nav-item">
            <%= link_to "Editar", edit_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
        </ul>
        <div class="tab-content py-4">
          <div class="tab-pane active" id="profile">
            <div class="col-md-4 order-lg-1 text-center">
              <%= image_tag(@user.avatar, class: "image-avatar") if @user.avatar.attached? %>
            </div>
            <h3 class="mb-3">Perfil do Usuário</h3>
            <div class="row">
              <div class="col-md-12">
                <h4 class="mb-3">Informações do Perfil</h4>
                <h5>Nome:</h5>
                  <div class="alert alert-info">
                    <h6 class="mb-3"><%= @user.name %></h6>
                  </div>
                <h5>Email:</h5>
                  <div class="alert alert-info">
                    <h6 class="mb-3"><%= @user.email %></h6>
                  </div>
                <h5>Formação Acadêmica:</h5>
                <div class="alert alert-info">
                  <h6><%= t("enumerize.user.education.#{@user.education}") %></h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>