<div id="index-post">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="my-4">Todos os Posts</h1>

        <% @post.each do |post| %>
          <div class="card mb-4">
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            <!-- Card header -->
            <div class="card-header">
              <h2 class="card-title"><%= post.title %></h2>
              <% post.categories.each do |categorie| %>
                <%= link_to categorie.name, root_path, class: 'badge badge-info'%>
              <% end %>
            </div>
            <!-- Card body -->
            <div class="card-body">
              <p class="card-text"><%= post.text %></p>
              <!-- Btn Read More -->
              <%= link_to post_path(post.id), class:"btn btn-primary" do %>
                Leia mais
                <i class="fas fa-arrow-right"></i>
              <% end %>
            </div>
            <!-- Card footer -->
            <div class="card-footer text-muted">
                Postado em <%= l(post.created_at, format: :long) %>
                  por
                <%= link_to post.user.name, root_path %>
            </div>
          </div>
        <% end %>

        <!-- Pagination -->
        <div class="pagination">
          <%== pagy_bootstrap_nav(@pagy) %>
        </div>
        
      </div>
    </div>
  </div>
</div>