<% @title="SafeMoney" %>
<div id="index-post">
  <div class="container">
    <div class="row">
      
      <!-- Principal Body -->
      <div class="col-md-8">
        <h1 class="my-4">
          Postagens da Categoria
        </h1>
        <div class="alert alert-info">
          <h2><%= @categorie.name %></h2>
        </div> 

      <% if @post.present? %>
        <%= render "shared/card-post" %>
      <% else %>
        <div class="alert alert-danger">
          Essa categoria não possui postagens ainda. Aproveite e faça uma postagem sobre <%= @categorie.name %>!
        </div>
      <% end %>

      </div>

      <!-- Side Body -->
      <div class="col-md-4">

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categorias</h5>
          <div class="row">
            <div class="col-lg-12">
              <ul class="list-group">
                <% @categories.each do |categorie| %>
                  <% if categorie.id == @categorie.id %>
                   <%= link_to categorie.name, category_path(categorie.id), class: "list-group-item list-group-item-action active" %>
                  <% else %>
                    <%= link_to categorie.name, category_path(categorie.id), class: "list-group-item list-group-item-action" %>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
